@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #97FB57;
    color: #696868;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #121212;
}

.heading {
    font-size: 4rem;
    color: #97FB57;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
    text-shadow: 3px 5px 5px #909090;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #909090;
}

header {
    width: 100%;
    background: #171717;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #909090;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #97FB57;
}


header .logo {
    font-size: 2.5rem;
    color: #909090;
    text-transform: uppercase;
}

header .fa-bars {
    font-size: 3rem;
    color: #97FB57;
    cursor: pointer;
    display: none;
    transition: .2s;
}

.home {
    min-height: 80vh;
    background: linear-gradient(rgba(225,184,0,0.2), rgba(151,251,87,0.8)), url(images/Logo_mockup.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 25rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: #909090;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: #909090;
    padding: 1rem 25rem;   
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #97FB57;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin: 4rem 0;
    border-color: #97FB57;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #97FB57;
}


/*APARTADO DE DESCARGA APPSTORE-PLAYSTORE */
.descarga {
    text-align: center;
    margin: 100px 0;
}

.descarga .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.descarga .box-container .box {
    height: 25rem;
    width: 25rem;
    background: #171717;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.descarga .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #909090 ;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s;
}

.descarga .box-container .box h3 {
    font-size: 2rem;
    color: #97FB57;
    transition: .2s;
}

.descarga .box-container .box p {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #909090;
}

.descarga .box-container .box:hover i {
    background: #97FB57;
}

.descarga .box-container .box:hover h3 {
    color: #909090;
}

.descarga button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #97FB57;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 50px;
}

.descarga button:hover {
    background: none;
    border: .2rem solid #97FB57;
}

/*SOCIOS MODIFICADO PARA CENTRAR*/
.socios {
    background: #171717;
}
.socios .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.socios .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    background: #0c0b0b;
    margin: 4rem 2rem;
}

.socios .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #97FB57;
    border-left: .6rem solid #909090;
    border-bottom: .6rem solid #909090;
}

.socios .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 0 .5rem;
}

.socios .box-container .box p {
    font-size: 1.4rem;
    color: #909090;
    padding: 1.3rem .1rem;
}

.socios .box-container .box .stars i {
    font-size: 1.6rem;
    color: #ffc246;
    padding: 1.3rem .1rem;
}


/*APARTADO DE SOCIOS ORIGINAL
.socios {
    background: #171717;
}

.socios .title {
    margin-bottom: 3rem;
}

.socios .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.socios .row .image img {
    height: 30vh;
    width: 50vw;
    margin-left: 100px;
}

.socios .row .content {
    padding-left: 5rem;
    margin: 5rem 0;
}

.socios .row .content h3 {
    font-size: 3rem;
    color: #97FB57;
}

.socios .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}
.socios .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.socios .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    background: #0c0b0b;
    margin: 4rem 2rem;
}

.socios .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #97FB57;
    border-left: .6rem solid #909090;
    border-bottom: .6rem solid #909090;
}

.socios .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 0 .5rem;
}

.socios .box-container .box p {
    font-size: 1.4rem;
    color: #909090;
    padding: 1.3rem .1rem;
}

.socios .box-container .box .stars i {
    font-size: 1.6rem;
    color: #ffc246;
    padding: 1.3rem .1rem;
}
.socios .row .content button {
    height: 5rem;
    width: 17rem;
    background: #97FB57;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-top: 2rem;
}

.socios .row .content button:hover {
    background: none;
    border: .2rem solid #97FB57;
}*/


/*APARTADO NOVEDADES*/
.novedades .box-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;
}
.novedades .box-container .box {
    background: #171717;
    height: 25rem;
    width: 25rem;
    margin: 3.5rem 2rem;
    text-align: center;
    border-radius: 1rem;
}
.novedades .box-container .box i {
    height: 10rem;
    width: 10rem;
    line-height: 8rem;
    text-align: center;
    color: #97FB57;
    background: none;
    margin-top: 2rem;
    font-size: 5rem;
}
.novedades .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
}
.novedades .box-container .box p {
    font-size: 1.5rem;
    color: #909090;
    padding: 1rem 0;
}

/*APARTADO EQUIPO DE TRABAJO-SOCIOS*/
.team {
    background: #171717;
}
.team .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.team .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    background: #0c0b0b;
    margin: 4rem 2rem;
}

.team .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #97FB57;
    border-left: .6rem solid #909090;
    border-bottom: .6rem solid #909090;
}

.team .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 0 .5rem;
}

.team .box-container .box p {
    font-size: 1.4rem;
    color: #909090;
    padding: 1.3rem .1rem;
}

.team .box-container .box .stars i {
    font-size: 1.6rem;
    color: #ffc246;
    padding: 1.3rem .1rem;
}
/*APARTADO DE ENVIAR UN MENSAJE-EMAIL, OCULTO POR EL MOMENTO*/
.contact {
    background: #171717;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    text-align: center;
}

.contact .row .form-container {
    width: 50%;
    padding-right: 6rem;
}

.contact .row .form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: #fff;
    border-radius: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    color: #97FB57;
    font-size: 1.7rem;
    transition: .2s linear;
}

.contact .row .form-container input:focus, textarea:focus {
    border: .4rem solid #97FB57;
}

.contact .row .form-container textarea {
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-container input[type="submit"] {
    height: 5rem;
    width: 17rem;
    background: #97FB57;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.contact .row .form-container input[type="submit"]:hover {
    background: none;
    color: #97FB57;
    border: .2rem solid #97FB57;
}

/*ICONOS DE FACEBOOK, WHATSAPP, ETC*/
.footer {
    text-align: center;
}

.footer .icons {
    padding: 3rem 0;
}

.footer .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #909090;
    border: .2rem solid #909090;
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;

}

.footer .icons a:hover {
    color: #fff;
    background: #97FB57;
    border-color: #97FB57;
}

.footer .copyright p{
    color: #97FB57;
    text-align: center;
    font-size: 15px;
    text-shadow: 3px 5px 5px #909090;
}

.footer .politica p{
    color: #97FB57;
    text-align: center;
    font-size: 15px;
    text-shadow: 3px 5px 5px #909090;
}

/*ACTIVACION DE MENU DESPLEGABLE SUPERIOR*/
@media (max-width: 768px) {
    
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: #171717;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top:5.5rem;
        opacity: 1;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .about .row {
        flex-direction: column-reverse;
    }

    .about .row .image img {
        height: 30vh;
        width: 90vw;
    }

    .about .row .content {
        padding: 0 2.5rem;
    }

    .course .box-container {
        width: 100%;
    }

    .contact .row {
        flex-flow: column;
    }

    .contact .row .form-container {
        width: 90%;
        padding: 0;
    }



}




